@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f9;
}

:root {
  --primary-color: #6070ff;
  --secondary-color: #7f8cff;
  --icons-color: #505f79;
  --headings-color: #172b4d;
  --text-color: #344563;
  --light-color: #c1c7d0;
  --text-light: #7a869a;
  --btn-background: #ebebff;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.list-none {
  list-style: none;
}

#nav {
  display: flex;
  height: 7vh;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  box-shadow: 0 1px 10px -5px grey;
  padding: 26px 24px;
  background-color: white;
}

.nav-items {
  display: none;
}

.logo {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 800;
  text-decoration: none;
}

#menu {
  width: 2rem;
  margin-top: 5px;
  cursor: pointer;
}

.hero {
  height: 100vh;
  background-image: url(./images/base-header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 5rem;
}

.header-shapes {
  background-image: url(./images/header-shapes-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 420px) {
  .hero {
    background-size: cover;
  }
}

.hero-title {
  color: var(--headings-color);
  font-size: 1.5rem;
}

.hero-para {
  color: var(--text-color);
  font-weight: 400;
  padding-top: 0.8rem;
}

.hero-content {
  padding-top: 5rem;
  margin: 0 24px;
}

.hero-social {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 400;
  padding-top: 0.5rem;
}

.hero-icons {
  max-width: 12rem;
  justify-content: space-between;
  padding-top: 0.8rem;
}

.tags > li {
  background-color: var(--btn-background);
  border-radius: 8px;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 12px;
  color: var(--primary-color);
}

.form-ul li {
  list-style: none;
}

.hero-icons {
  padding-top: 1rem;
}

.hero-icons li {
  transition: all 0.5s;
  list-style: none;
}

.hero-icons li:hover {
  transform: scale(1.2);
  box-shadow: 0 1px 4px 2px #6070ff;
}

/* works section */

.works {
  display: grid;
  grid-template-columns: 1 / -1;
  margin: 114px 24px;
  row-gap: 44px;
}

.works-title {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--headings-color);
  text-align: center;
}

.card {
  border: 0.5px solid rgb(187, 187, 187);
  border-radius: 12px;
  background-color: white;
}

.card-image {
  margin: 16px;
  border-radius: 8px;
}

.card-image img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.card-content {
  margin: 0 16px 16px;
}

.primary-text h2 {
  font-weight: 700;
  font-size: 32px;
  color: var(--headings-color);
}

.primary-text p {
  margin: 8px 0;
  font-weight: 400;
  color: var(--text-color);
  font-size: 15px;
}

.circle {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #c1c7d0;
}

.frame {
  max-width: 236px;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.frame h6 {
  font-size: 13px;
  font-weight: 600;
  color: var(--text-color);
}

.frame p {
  font-size: 13px;
  font-weight: 600;
  color: var(--text-light);
}

.tags {
  max-width: 203px;
  justify-content: space-between;
}

.action {
  margin: 12px 0;
}

.btn {
  padding: 12px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid var(--secondary-color);
  background-color: white;
  color: var(--primary-color);
  letter-spacing: 3%;
  transition: all 0.4s;
}

.btn:hover {
  color: white;
  background-color: var(--primary-color);
}

.btn:active {
  background-color: #2230d2;
}

.btn:disabled {
  background-color: white;
  color: var(--light-color);
  border: 1px solid var(--light-color);
}

/* about section */

.about {
  display: grid;
  grid-template-columns: 1 / -1;
  padding: 6rem 0;
  background-image: url(./images/base-about.svg);
  background-size: cover;
  background-repeat: no-repeat;
  row-gap: 24px;
}

.top {
  margin: 0 24px;
  padding: 3rem 0;
}

.skills {
  margin: 0 24px;
}

.about-action {
  padding-top: 1rem;
}

.skill-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 30px 24px 12px;
  border-bottom: 0.5px solid var(--light-color);
  color: var(--icons-color);
}

/* form section */

#footer {
  background-color: var(--primary-color);
  border-top-left-radius: 50px;
  background-image: url(./images/form-background2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  padding-bottom: 3rem;
}

.form-container {
  padding-top: 103px;
  align-items: center;
  justify-content: center;
}

.form-content h2 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  vertical-align: center;
}

.form-content p {
  margin: 12px 24px 0 24px;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
}

.form {
  margin-top: 2rem;
}

.form-ul {
  row-gap: 18px;
}

.form input {
  width: 327px;
  padding: 15px 16px;
  border-radius: 8px;
  border: none;
  font-size: 17px;
  font-weight: 400;
  color: var(--headings-color);
}

.form-textarea {
  width: 327px;
  padding: 15px 16px;
  border-radius: 8px;
  border: none;
  height: 170px;
  font-size: 15px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  #nav {
    padding: 26px 80px;
    height: 72px;
    position: fixed;
    z-index: 100;
    width: 100%;
    box-shadow: 0 1px 10px -5px grey;
  }

  .logo {
    transition: all 1s;
  }

  .logo:hover {
    transform: rotateX(-180deg);
  }

  #menu {
    display: none;
  }

  .nav-items {
    display: flex;
    column-gap: 32px;
  }

  .nav-items li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
  }

  .nav-items li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: width 0.3s;
  }

  .nav-items li a:hover::after {
    width: 100%;
  }

  .hero {
    background-image: url(./images/header-back-desktop.svg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding-top: 0;
  }

  .header-shapes {
    background-image: url(./images/header-backN-desk.png);
    background-size: cover;
    background-position: center;
    padding-top: 8rem;
    padding-bottom: 9rem;
  }

  .hero-content {
    padding: 0;
    margin: 100px 140px 0;
  }

  .hero-title {
    margin-left: 33.3%;
    transform: translateX(200%);
    opacity: 0;
    animation: slide-in-anim 1.5s ease-out forwards;
  }

  @keyframes slide-in-anim {
    20% {
      opacity: 0;
    }

    60% {
      transform: translateX(-45%);
    }

    75% {
      transform: translateX(-52%);
    }

    100% {
      opacity: 1;
      transform: translateX(-50%);
    }
  }

  .card {
    flex-direction: row;
  }

  .card-image {
    margin: 24px;
    overflow: hidden;
  }

  .card-image img {
    height: 448px;
    border-radius: 8px;
    transition: all 0.7s;
  }

  .card-image img:hover {
    transform: scale(1.2);
  }

  .card-content {
    margin-top: 48px;
  }

  .tags {
    margin-top: 24px;
  }

  .action {
    margin-top: 48px;
  }

  .reverse {
    flex-direction: row-reverse;
    padding-left: 24px;
  }

  .about-md {
    display: flex;
    margin: 142px 48px;
  }

  .top {
    max-width: 370px;
  }

  .skills {
    width: 100%;
  }

  .about-action {
    margin-top: 24px;
  }

  #footer {
    background-image: url(./images/form-back2-desktop.svg);
    background-position: center;
    background-size: contain;
  }

  .form-ul {
    row-gap: 27px;
  }

  .form-content p {
    max-width: 570px;
  }

  .form input,
  .form-textarea {
    width: 447px;
  }
}
