.btn.mod {
  display: flex;
  gap: 12px;
}

.btnflex {
  margin-top: 20px;
  display: flex;
  gap: 12px;
}

.rule {
  background-color: #ebecf0;
  height: 1px;
}

.btn-icon:hover {
  color: white;
  transition: all 0.3s;
}

.skills {
  padding: 16px;
  display: flex;
  flex-direction: column;
  margin: 0 0 88px 0;
  border: solid 1px #dfe1e6;
  border-radius: 16px;
  background-color: white;
}

.modal-header h2 {
  font-weight: 700;
  font-size: 32px;
  text-transform: capitalize;
  margin: 12px auto;
}
.project-header h2 {
  font-weight: 400;
  font-size: 32px;
  text-transform: capitalize;
  margin: 12px auto;
}

.project-header-p {
  color: #344563;
  font-weight: 400;
  font-size: 15px;
}

.stack {
  background-color: #ebebff;
  margin-top: 16px;
  padding: 4px 12px;
  color: #6070ff;
  font-size: 12px;
  border-radius: 8px;
}

.set-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.set-stack li {
  list-style: none;
  margin-bottom: 20px;
}

.skills.mod-container {
  flex-direction: column;
  gap: 10px;
  width: 100%;
  transition: 0.2s ease-in-out;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  padding: 10% 5.5%;
  background-color: rgb(193 199 208 / 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
  transition: 0.35s ease-in-out;
  display: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tags {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.tags li {
  font-size: 13px;
  font-weight: var(--semi-bold-font);
  color: #7a869a;
  margin-right: 0.5rem;
  text-transform: capitalize;
}

.tags .diff-li {
  text-transform: uppercase;
  color: #344563;
  list-style: none;
}

.modal-wrapper.active {
  display: block;
}

.sample.mod {
  max-width: 100%;
}

.modal-close {
  float: right;
  font-size: 25px;
  color: #67798e;
  position: relative;
  z-index: 20;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .modal-wrapper {
    height: 100vh;
    padding: 5.5% 10%;
  }

  .sample.mod {
    max-height: 50%;
  }

  .project-header {
    display: flex;
  }
  
}
